<!DOCTYPE html>
<html>
<head>
  <title>Escobar</title>
  <%= stylesheet_link_tag    "escobar/application", media: "all" %>
  <%= javascript_include_tag "escobar/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
